@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: Montserrat, sans-serif;
    line-height: 130%;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0.8;
    /*background-color: antiquewhite;
    background-color: cadetblue;*/
    background: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
}

.header__wrapper {
    /*background-color: cadetblue;*/
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
}

.menu__list {
    list-style-type: none;
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    color: #131313;
    font-weight: 600;
    line-height: 171%;
    position: relative;
    text-decoration: none;
}

.menu__link::after {
    position: absolute;
    content: '';
    left: 0px;
    bottom: -2px;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transition: all 0.3s;
    background: #f7f7f7;
}

.menu__link:hover::after {
    transform: scale(1);
}

/*----------Main----------*/

main {
    /*background-color: lightskyblue;*/
    background: linear-gradient(to right, lightcyan, lightskyblue);
}

.main__wrapper {
    padding-top: 100px;
    padding-bottom: 50px;
    /*background-color: lightskyblue;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__contacts {
    max-width: 340px;
    font-weight: 600;
    font-size: 20px;
}

.main__contacts-name {
    font-weight: 700;
    font-size: 34px;
    border-bottom: 1px solid #434343;
    padding: 20px 0 20px;;
}

.main__contacts-job {
    border-bottom: 1px solid #434343;
    padding: 20px 0 20px;
}

.soc-menu__list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #434343;
    padding: 20px 0;
}

.soc-menu__item:not(:last-child) {
    margin-right: 20px;
}

/*.soc-menu__item:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}*/

.contacts-map {
    display: flex;
    align-items: center;
    border-bottom: 1px solid#434343;
    padding: 20px 0;
}

.contacts-map__link {
    text-decoration: none;
    margin-right: 10px;
}

/*.contacts-map__link:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}*/

.button-block {
    padding: 20px 0;
}

.button {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    background-color: rgb(130, 150, 150);
    color: #434343;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}

.button:hover {
    background-color: lightgoldenrodyellow;;
    transition: 0.3s;
}

.icons {
    cursor: pointer;
    
}

.icons:hover {
    fill:chocolate;
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}

.main__foto {
    min-width: 380px;
    min-height: 380px;
    border-radius: 50%;
    box-shadow: 0 0 0 0px lightskyblue, 0 0 30px #333;
    overflow: hidden;
    position: relative;
}

.main__foto img {
    position: absolute;
    top: -750px;
    right: -170px;
}

/*----------About----------*/

.about {
    /*background-color: lightcyan;*/
    background: linear-gradient(to right, rgb(224, 234, 252), rgb(207, 222, 243));
}

.about__wrapper {
   /* background-color: lightcyan;*/
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 15px;
    padding-bottom: 50px;
}

.about__title {
    width: 100%;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    padding: 40px 5px 20px;
}

.about__work {
    width: 47%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(
    316deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 51%, #E0D8F0 80%, #EAF7FE 128%, #EAF7FE 150%), linear-gradient(
    316deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 51%, #E0D8F0 80%, #EAF7FE 128%, #EAF7FE 150%);

}

.about__education {
    width: 47%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(
    316deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 51%, #E0D8F0 80%, #EAF7FE 128%, #EAF7FE 150%), linear-gradient(
    316deg, rgba(254, 189, 171, 0.74) 30%, rgba(243, 169, 248, 0.66) 51%, #E0D8F0 80%, #EAF7FE 128%, #EAF7FE 150%);
}

.work__title, .education__title, .courses__title {
    font-variant-caps: petite-caps;
    font-weight: 900;
    font-size: 22px;
    padding-bottom: 10px;
}

.work__item, .education__item, .courses__item {
    padding-bottom: 10px;
}

.work__company span, .work__function span, .education__company span, .education__function span, .courses__company span, .courses__name span {
    font-weight: 800;
    color: #606060;
    padding-left: 5px;
}

.work__date span, .education__date span, .courses__date span {
    color: #808080;
    font-weight: 800;
    font-size: 14px;
}

/*----------Portfolio----------*/

.portfolio {
    /*background-color:#ccc;*/
    background: linear-gradient(to right, rgb(173, 169, 150), rgb(242, 242, 242), rgb(219, 219, 219), rgb(234, 234, 234));
}

.portfolio__wrapper {
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.portfolio__title {
    width: 100%;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    padding: 40px;
}

.portfolio__card {
    margin: 0 auto 10px;
    z-index: 10;
}
.card {
    border-radius: 25px;
    background: linear-gradient(to right, rgb(116, 235, 213), rgb(172, 182, 229));
}

.card__title {
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

.card__wrapper {
    display: flex;
    gap: 30px;
    padding: 10px;
}

.card__preview-img {
    max-width: 200px;
}

.card__content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__content-description span {
    color: #606060;
}

.link {
    color: #000;
    position: relative;
    text-decoration: none;
}

.link::after {
    position: absolute;
    content: '';
    left: 0px;
    bottom: -2px;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transition: all 0.3s;
    background: #666666;
}
.link:hover::after {
    transform: scale(1);
}

.portfolio__arrow-blocks {
    width: calc(100% - 30px);
    height: 100px;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

.arrow {
    padding: 0 5px;
    cursor: pointer;
    border: 1px solid #f0ffff;
    border-radius: 25px;
    background-color: #bbb;
}

.arrow:hover {
    fill:blanchedalmond;
    fill:lightgoldenrodyellow;
    border-color: lightgoldenrodyellow;
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}